.modal-wrapper{
    background-color: #fff;
    width:80%;
    max-width:800px;
    margin: 4rem auto;
}
.modal-header{
    background-color: #150050;
    color: #fff;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-header span{
    font-size: 1.5rem;
    cursor: pointer;
}
