.signUp{
  display: flex;
  flex-direction: column;
  gap:10px;
  width:40%;
  margin-left: 30%;
  margin-top: 25px;
 
}
.header-name{
  font-weight: bold;
}
.firstName{
padding: 5px;
font-weight: bold;
}
.lastName{
  padding: 5px;
  font-weight: bold;
}
.phoneNumber{
  padding: 5px;
  font-weight: bold;
}
.email{
  padding: 5px;
  font-weight: bold;
}
.password-sign{
  padding: 5px;
  font-weight: bold;
}
.btn-sign{
  padding: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #150050 ;
  border-radius:4px;
}

  
  