.pray_div {
  background-color: rgb(211, 211, 224);
  position: absolute;
  right: 0px;
  top: 40rem;
  width: 21.35%;
  height: 25rem;
  background-image: url("https://cdn.pixabay.com/photo/2020/05/04/15/45/mosque-5129660_960_720.png");
  background-repeat: no-repeat;
  color: aliceblue;
  opacity: 0.9;
}

.pray_times {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pray_times select:hover {
  cursor: pointer;
}

.pray_times select {
  position: relative;
  font-family: Arial;
  width: 90%;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(200, 213, 223, 0.534);
  text-indent: 20px;
}
