
.nav_div {
  background-color: #150050;
  padding: 14px;
  top: 0;
  left: 0;


  width: 100%;
  position: absolute;
  font-size: 20px;
}
.nav{
  padding-right: 25px;
 
}


.log {
  margin-left: 7px;
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-right: 12px;
  font-size: 14px;
  padding-top: 17px;

}
.log:hover{
font-weight: bold;
  color:#FF8882;
}
.sign {
  margin-left: 7px;
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-right: 12px;
  font-size: 14px;
  padding-top: 17px;
 
}
.sign:hover{
  font-weight: bold;
  color:#FF8882;
}

.about {
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-right: 12px;
  font-size: 14px;
  padding-top: 17px;
 
}
.about:hover{
  font-weight: bold;
  color:#FF8882;
}
.contac {
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-right: 12px;
  font-size: 14px;
  padding-top: 17px;
  
}
.contac:hover{
  font-weight: bold;
  color:#FF8882;
}
.logout_nav{
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-right: 12px;
  font-size: 14px;
  padding-top: 17px;
}
.logout_nav:hover{
  font-weight: bold;
  color:#FF8882;
}
.table_nav{
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-right: 12px;
  font-size: 14px;
  padding-top: 17px;
}
.table_nav:hover{
  font-weight: bold;
  color:#FF8882;
}
.update_nav{
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-right: 12px;
  font-size: 14px;
  padding-top: 17px;
}
.update_nav:hover{
  font-weight: bold;
  color:#FF8882;
}
.home_nav{
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-right: 12px;
  font-size: 14px;
  padding-top: 17px;
}
.home_nav:hover{
  font-weight: bold;
  color:#FF8882;
}
