.nav{
    background-color:#150050;
   
    padding:14px;
    
    
  }
 .link{
   display: inline-block;
   text-decoration: none;
   color:#ffffff;
   float: right;
   padding-right: 20px;
   
 }
 .log{
  margin-left: 7px;
  color:#ffffff;
  text-decoration: none;
 
}
.sign{
  margin-left:7px;
  color:#ffffff;
  text-decoration: none;
  
}
.logo{
  padding-left: 10px;
  color:#ffffff;
 
  
  
}
.about{
  color:#ffffff;
  text-decoration: none;
 
 
}
.contact{
  color:#ffffff;
  text-decoration: none;
 
}

